# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
tests

# Build artifacts
compile_commands.json
*.dSYM/

# Language server stuff
.cache/
.lsp-session-*

# Backup and autosave files from Emacs
*~
\#*\#
.\#*

# macOS filesystem noise
.DS_Store

# Sublime Text project files (if you're using Sublime too)
*.sublime-project
*.sublime-workspace

# Geany project files
*.geany
